---
---

/* prettier-ignore */
@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* append your custom style below */

#sidebar #avatar {
  width: 10rem !important;
  height: 10rem !important;
}

#avatar img {
  width: 100%;
  height: auto;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  html:not([data-mode]) #main-wrapper,
  html:not([data-mode]) #tail-wrapper footer {
    color-scheme: dark;
    background-color: #151718 !important;
    color: #e0e0e0 !important;

    @import './monokai-theme.scss';
  }
}

.rouge-code {
  color: #e0e0e0 !important;
}
