---
---

/* prettier-ignore */
@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* append your custom style below */

#sidebar #avatar {
  width: 10rem !important;
  height: 10rem !important;
}

#avatar img {
  width: 100%;
  height: auto;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  html:not([data-mode]) #main-wrapper,
  html:not([data-mode]) {
    @import './monokai-theme.scss';
    color: #e0e0e0 !important;

    #tail-wrapper footer {
      color-scheme: dark;
      background-color: #151718 !important;
    }

    .rouge-code {
      color: #e0e0e0 !important;
    }

    blockquote {
      font-size: 1.25rem;
      line-height: 1.6;
      margin: 1.5rem 0;
      padding-left: 1.5rem;
      border-left: 4px solid #3498db;
      background-color: #2c2f33; /* Dark background */
      color: #e0e0e0; /* Light text color */
      position: relative;
    }

    blockquote::before {
      content: '“';
      font-size: 3rem;
      position: absolute;
      top: -1rem;
      left: -1.25rem;
      color: #3498db;
    }

    blockquote::after {
      content: '”';
      font-size: 3rem;
      position: absolute;
      bottom: -1rem;
      right: -1.25rem;
      color: #3498db;
    }

    cite {
      display: block;
      font-size: 1rem;
      font-weight: bold;
      text-align: right;
      margin-top: 1rem;
      color: #b0b0b0;
    }
  }
}

blockquote {
  font-size: 1.25rem;
  line-height: 1.6;
  margin: 1.5rem 0;
  padding-left: 1.5rem;
  border-left: 4px solid #3498db;
  background-color: #f7f7f7;
  color: #333;
  position: relative;
}

blockquote::before {
  content: '“';
  font-size: 3rem;
  position: absolute;
  top: -1rem;
  left: -1.25rem;
  color: #3498db;
}

blockquote::after {
  content: '”';
  font-size: 3rem;
  position: absolute;
  bottom: -1rem;
  right: -1.25rem;
  color: #3498db;
}

cite {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  text-align: right;
  margin-top: 1rem;
  color: #555;
}

.post-preview {
  border: 1px solid gray;
}
