---
---

/* prettier-ignore */
@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* append your custom style below */

#sidebar #avatar {
  width: 10rem !important;
  height: 10rem !important;
}

#avatar img {
  width: 100%;
  height: auto;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  html:not([data-mode]) #main-wrapper,
  html:not([data-mode]) {
    @import './monokai-theme.scss';
    color: #e0e0e0 !important;

    #tail-wrapper footer {
      color-scheme: dark;
      background-color: #151718 !important;
    }

    .rouge-code {
      color: #e0e0e0 !important;
    }

    @import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
    blockquote {
      color: #e0e0e0; /* Light text color */
      // position: relative;
      font-family: Open Sans;
      font-style: italic;
      line-height: 1.6;
      background-color: #2c2f33;
      position: relative;
      padding: 1em 0.5em 1em 2.5em;
      border-left: 8px solid #3498db;
    }

    blockquote::before {
      // content: '“';
      // font-size: 3rem;
      // position: absolute;
      // top: -1rem;
      // left: -1.25rem;
      // color: #3498db;
      content: '“';
      font-family: Arial;
      position: absolute;
      color: #3498db;
      font-size: 4em;
      left: 5px;
      top: -10px;
    }

    blockquote::after {
      // content: '”';
      // font-size: 3rem;
      // position: absolute;
      // bottom: -1rem;
      // right: -1.25rem;
      // color: #3498db;
      content: '';
    }

    cite {
      display: block;
      font-size: 1rem;
      font-weight: bold;
      text-align: right;
      margin-top: 1rem;
      color: #b0b0b0;
    }
  }
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
blockquote {
  color: #333;
  font-family: Open Sans;
  font-style: italic;
  line-height: 1.6;
  background-color: #f7f7f7;
  position: relative;
  padding: 1em 0.5em 1em 2.5em;
  border-left: 4px solid #3498db;
}

blockquote::before {
  // content: '“';
  // font-size: 3rem;
  // position: absolute;
  // top: -1rem;
  // left: -1.25rem;
  // color: #3498db;
  content: '“';
  font-family: Arial;
  position: absolute;
  color: #3498db;
  font-size: 4em;
  left: 5px;
  top: -10px;
}

blockquote::after {
  // content: '”';
  // font-size: 3rem;
  // position: absolute;
  // bottom: -1rem;
  // right: -1.25rem;
  // color: #3498db;
  content: '';
}

cite {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  text-align: right;
  margin-top: 1rem;
  color: #555;
}

.post-preview {
  border: 1px solid gray;
}
