--- # Only the main Sass file needs front matter (the dashes are enough) search: false --- @charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.author__avatar img {
  max-width: 200px;
}

:root {
  --bg-soft-yellow: #fff9c4;
  --bg-pastel-blue: #e0f7fa;
  --bg-light-green: #e8f5e9;
  --bg-pale-peach: #ffefd5;
  --bg-misty-rose: #ffe4e1;
  --bg-soft-lavender: #f3e5f5;
  --bg-cream: #fffdd0;
  --bg-light-turquoise: #e0ffff;
  --bg-linen: #faf0e6;
  --bg-light-gray: #f5f5f5;
  --bg-language: #1A1B26;
  --bg-language-darker: #010812;
}

.language-plaintext {
  background: var(--bg-language-darker) !important;
  font-family: "Fira Code", "Source Code Pro", "Consolas", monospace;
  color: #E5BF78;
}

#main {
  max-width: 80%;
}

.certificate-badge {
  width: 200px;
  height: 180px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15), 0 0 12px rgba(52, 152, 219, 0.3);
  border-radius: 50%;
}

.red-team {
  border: 3px solid #e74c3c !important;
}

.blue-team {
  border: 3px solid #3498db !important;
}

.devops {
  border: 3px solid #cccccc !important;
}

.archive__item-teaser {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15), 0 0 12px rgba(52, 152, 219, 0.3);
}

.author__avatar img {
  border: 2px solid black;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15), 0 0 12px rgba(52, 152, 219, 0.3);
}

.archive__item-teaser {
  max-height: 180px !important;
}

body,
nav {
  background: #24262A !important // #292a2d !important;
}

.masthead {
  border: 0 !important;
}

.page__hero--overlay {
  opacity: 0.9 !important;
}
